<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService1" maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        </basicHttpBinding>
      </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/RentACarService/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="RentACarServiceReference.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>